<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <appSettings>

      
        <!-- SAP Business One User Connection Settings -->
        <!-- Please Change the following information to suite your "Own" Environment-->
        <add key="SAPBobCompany" value="SAP_B1_CBS_Test" /><!-- Change Me -->
        <add key="SAPBobServer" value="SAPB1" /><!-- Change Me -->
        <add key="SAPBobUsername" value="bb" /><!-- Change Me -->
        <add key="SAPBobPassword" value="1111" /><!-- Change Me -->
        <add key="SAPBobTrusted" value="false" /><!-- Change Me -->

    </appSettings>
  
</configuration>